<div id="cookie-banner">
    <p>
        Diese Website wird über GitHub Pages zur Verfügung gestellt, was bedeutet, dass sie ein globales Vertriebsnetzwerk (CDN) verwendet, um Inhalte zuverlässig anzuzeigen. Wenn Sie die Website nutzen, können einige Ihrer nicht-personenbezogenen Daten, wie Ihre IP-Adresse und Informationen zur Seitennutzung, über dieses Netzwerk übertragen werden, um die ordnungsgemäße Funktion der Website sicherzustellen.
        Weitere Informationen finden Sie im
        <a href="/imprint#github-pages-und-cdn-nutzung"
           target="_blank" rel="noopener noreferrer nofollow">
            Impressum
        </a>.
    </p>
    <p>
        Bitte bestätigen Sie, dass Sie damit einverstanden sind und dass wir ein Einwilligungs-Cookie verwenden, das für einen Zeitraum von einem Tag gespeichert wird. Dieses Cookie ermöglicht es uns, Ihre Zustimmung zur Verwendung nicht-personenbezogener Daten und zur ordnungsgemäßen Funktion der Website zu speichern.
    </p>
    <button class="btn btn--warning" id="cookie-consent-btn">Zustimmen</button>
</div>






<!-- JavaScript-code for the cookie consent-banner -->
<script>
    if (document.cookie.indexOf('cookieConsent=1') !== -1) {
        document.getElementById('cookie-banner').style.display = 'none';
    }

  function setCookieConsent() {
      document.getElementById('cookie-banner').style.display = 'none';

      var expiresDate = new Date();
      expiresDate.setDate(expiresDate.getDate() + 1);

      document.cookie = 'cookieConsent=1; expires=' + expiresDate.toUTCString() + '; path=/';
  }

    document.getElementById('cookie-consent-btn').addEventListener('click', setCookieConsent);
</script>