:root {
  --swiper-navigation-color: #222831;
}

.testimonial {
    margin: 0 10vw 0 10vw;
}

@media screen and (max-width: 800px) {
    .testimonial {
        margin: 0 13vw 0 13vw;
    }
}

.white-text {
    color: white !important;
}



/* showing and hiding content based on screen width */
@media (max-width: 800px) {
    .desktop {
        display: none !important;
    }
    .mobile {
        display: block !important;
    }
}

@media (min-width: 801px) {
    .desktop {
        display: flex !important;
    }
    .mobile {
        display: none !important;
    }
}